/* CSS for CV */

body {
   margin: 0px;
}

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

h1, h2, h3 {
    text-align: center;
}

#my-skils .container div {
    width: 48%;
}

/* Headre */

header {
    background: #1065c5;
    color: #ffffff;
    height: 50px;
}

nav li a {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    margin: 0px 20px;
    padding: 15px;
    text-decoration: none;
}
nav ul {margin: 0px;}
nav ul li {
    display: inline-block;
}