/* CSS for CV */

body {
   
}

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

h1, h2, h3 {
    text-align: center;
}

#my-skils .container div {
    width: 48%;
}